.axis,
.frame {
    shape-rendering: crispEdges;
}


.axis line {
    stroke: #00F;
    stroke-width: 1px;
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis path {
    stroke: #00F;
    stroke-width: 1px;
    stroke: black;
    fill: none;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}


.ghost {
    fill: blue;
    fill-opacity: 0;
}

.label {
    font-size: 12px;
    color: blue;
}

.datapoint {
    r: 5;
    fill: blue;
    fill-opacity: .5;
}

#d3plot {
    width: 500px;
    height: 500px;
}

body {
  background-color: #87ceeb;
  font-family: helvetica, sans-serif;
  font-weight: 100;
}

#wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}


#chart {
  position: absolute;
  top: 30px;
  left: 120px;
  width: 900px;
  height: 1200px;
  /*margin: 25px auto;*/
}

#title {
  position: absolute;
  top: 30px;
  left: 600px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 100%;
}

#about {
  position: absolute;
  top: 670px;
  left: 300px;
  width: 200px;
  font-size: 12px;
}

#about .social {
  margin-top: 5px;
}

#menu {
  position: absolute;
  top: 65px;
  left: 30px;
  width: 300px;
}

#menul {
  position: absolute;
  top: 65px;
  left: 15px;
  width: 30px;
  font-size: 18px;
}

#menur {
  position: absolute;
  top: 65px;
  left: 45px;
  width: 30px;
  font-size: 18px;
}

#txt-input1 {
  position: absolute;
  top: 305px;
  left: 30px;
  width: 30px;
  height: 30px;
}

#radio1 {
  position: absolute;
  top: 440px;
  left: 90px;
  width: 60px;
  height: 30px;
  font-size: 11px;
}

#nRankList {
  position: relative;
  font-size: 16px;
}

#playerList {
  list-style: none;
  position: absolute;
  top: 500px;
  left: 30px;
  width: 120px;
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 2px;
}

#playerListClose {
  list-style: none;
  position: absolute;
  top: 500px;
  left: 150px;
  width: 120px;
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 2px;
}

#txt-input2 {
  position: absolute;
  top: 265px;
  left: 90px;
  width: 30px;
  height: 30px;
}

li, h1, h2 {
  font-weight: 100;
}

h2 {
  font-size: 11px;
  margin: 0;
  color: #666;
}

ul {
  list-style: none;
  font-size: 14px;
  padding: 0;
  margin-top: 3px;
}

li {
    font-size: 16px;
  cursor: pointer;
  padding-bottom: 5px;
}

li:hover {
  color: #000;
}

li.preview {
  font-weight: 400;
}

li.selected {
  font-weight: bold;
}

